<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>        
                <div>
                    <div class="info">
                    </div>
                    <div>
                        <!--<h1>Nombre de usuario <%= //usuario.nombre%> <%= //usuario.apellido%></h1>
                            <h3>Email: <%= //usuario.email%></h3>
                            <h3>Dirección: <%= //usuario.direccion%></h3>
                            <h3>Teléfono: <%= //usuario.telefono%></h3>
                            <h3>Codigo Postal: <%= //usuario.codigoPostal%></h3> -->
                            <h1>Nombre de usuario <%= user.nombre%> <%= user.apellido%></h1>
                            <img src="/Public/img/users_img/<%=user.avatar%>">
                            <h1>Correo electronico <%= user.email%></h1>
                            <a href="/users/logout" class="cuenta">
                                <button class="btn">Cerrar sesion</button>
                            </a>
                    </div>
                


            <%- include('../partials/footer')%>
                <script src="/public/js/app.js">
                </script>
    </body>

</html>