<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>

            <h2>Registrarme</h2>
            <section class="section">
                <form class="section form" action="signup" method="POST" enctype="multipart/form-data">
                    <div class="campo">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" placeholder="Nombre" value="<%=locals.oldData?oldData.nombre:null%>" />
                        <% if(locals.errors && errors.nombre) {%>
                            <p class="validationProfile"><%= errors.nombre.msg %></p> 
                            <% } %>  
                    </div>
                    <div class="campo">
                        <label for="apellidos">Apellidos:</label>
                        <input type="text" name="apellido" placeholder="Apellidos" value="<%=locals.oldData?oldData.apellido:null%>"/>
                        <% if(locals.errors && errors.apellido) {%>
                            <p class="validationProfile"><%= errors.apellido.msg %></p> 
                            <% } %>  
                    </div>
                    <div class="campo">
                        <label for="email">Email:</label>
                        <input type="email" name="email" placeholder="Email" value="<%=locals.oldData?oldData.email:null%>"/>
                        <% if(locals.errors && errors.email) {%> 
                            <p class="validationProfile"><%= errors.email.msg %></p> 
                        <% } %> 
                    </div>
                    <div class="campo">
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" name="contrasena" placeholder="Contraseña" value="<%=locals.oldData?oldData.contrasena:null%>"/>
                        <% if(locals.errors && errors.contrasena) {%> 
                            <p class="validationProfile"><%= errors.contrasena.msg %></p> 
                        <% } %> 
                    </div>
                    <div class="campo">
                        <label for="confirmacion">Confirmación de contraseña:</label>
                        <input type="password" name="confirmacion" placeholder="Confirmar" value="<%=locals.oldData?oldData.confirmacion:null%>" />
                        <% if(locals.errors && errors.confirmacion) {%> 
                            <p class="validationProfile"><%= errors.confirmacion.msg %></p> 
                        <% } %> 
                    </div>
                    <div class="campo">
                        <label for="avatar">Su Avatar</label>
                        <input type="file" name="avatar" >
                        <% if(locals.errors && errors.avatar) { %>
                            <p class="validationProfile"><%= errors.avatar.msg %></p>  
                        <% } %> 
                        <img src="/Public/img/Avatar.svg" height="40px" alt="imagen avatar usuario" id="avatar"/>
                    </div>
                    <button type="submit" class="btn">Resgístrame</button>
                    <a href="/users/login" class="cuenta">
                        <button class="btn">Ya tengo una cuenta</button>
                    </a>
                </form>
            </section>
            <section class="section iconos">
                <div>
                    <img src="/public/img/Seguridad.svg" alt="ícono de seguridad">
                    <p>Siéntete seguro de hacer tus compras</p>
                </div>
                <div>
                    <img src="/public/img/Calidad.svg" alt="ícono de seguridad">
                    <p>Productos de calidad siempreson recibidos</p>
                </div>
                <div>
                    <img src="/public/img/Camion.svg" alt="ícono de seguridad">
                    <p>Llegan hasta la puerta de tu casa</p>
                </div>
            </section>
            <%- include('../partials/footer')%>

                <script src="/public/js/app.js">
                </script>
    </body>

</html>